body {
  margin: 0;
  background-color: #10291D;
  color: #F7F7F7;
}

.page-content {
    margin: 3em;
}

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
a{
  text-decoration: none;
  color: #F7F7F7;
}
a:hover, a:visited {
  text-decoration: underline;
}
a:visited:hover {
  color: #F7F7F7;
}

.error-link {
  border: 3px solid #7e7f9a;
  padding: .5rem;
  margin: 1rem;
  color: #f7c64A;
  border-color: #7e7f9a;
  border-radius: 6px;
}


