.page-content {
    margin: 3em;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-display {
    list-style-type: none;
    margin: 2rem;
}

.product-image {
    height: 250px;
    width: 250px;
}