.page-content {
    
    margin: 2.5em;
}

.product-display {
    list-style-type: none;
    width: 250px;
    margin: 1rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-link {
    display: block;
    width: 100%;    
}

.product-image {
    height: 250px;
    width: 250px;
}